{%extends 'main/base.html'%}


{%block title%} О проекте{%endblock%}


{%block content%}
<div class="container mt-4">
    <h2 class="mb-4">О проекте</h2>

    <p>Этот проект представляет собой <strong>автономную метеостанцию</strong>, созданную для мониторинга погодных условий в режиме реального времени и предоставления прогноза с помощью веб-интерфейса, разработанного на Django.</p>

    <h3 class="mt-4">Цель</h3>
    <p>Основная цель — обеспечить непрерывный сбор данных о погоде и визуализировать их на сайте и хранить в базе данных</p>

    <h3 class="mt-4">Состав системы</h3>
    <ul>
        <li>Arduino Uno — микроконтроллер для опроса датчиков</li>
        <li>ESP8266 — модуль передачи данных по Wi-Fi</li>
        <li>Датчики:
            <ul>
                <li>BME280 — температура, влажность, давление</li>
                <li>GY-302 — уровень освещённости (облачность)</li>
            </ul>
        </li>
        <li>Django + PostgreSQL — серверная часть и база данных</li>
        <li>Интерфейс Bootstrap — адаптивный фронтенд</li>
    </ul>

    <h3 class="mt-4">Возможности</h3>
    <ul>
        <li>Просмотр текущей температуры, влажности, давления, облачности и ветра</li>
        <li>График температур и таблица данных</li>
        <li>Фильтрация по дате и экспорт данных в CSV</li>
    </ul>

    <h3 class="mt-4">Планы на развитие</h3>
    <p>В будущем планируется реализовать мобильное приложение, расширить список датчиков, добавить энергонезависимое питание, а также внедрить машинное обучение для прогноза на основе собственных данных.</p>

    <h3 class="mt-4">Исходный код</h3>
    <p>Проект доступен на <a href="https://github.com/bigvobla/meteosite" target="_blank">GitHub</a>. Любой желающий может ознакомиться с исходным кодом и предложить улучшения.</p>
</div>
{% endblock %}
