body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 34%, rgba(84, 184, 167, 1) 100%, rgba(130, 130, 130, 1) 65%);
    min-height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(30, 30, 30, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.site-name {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin: 0;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.site-name::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #00bfff;
    width: 100%;
    margin-top: 3px;
}

li{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none; 
}


.nav-link {
    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #888;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link.active::after {
    width: 100%;
}

.nav-link:hover {
    font-weight: 600;
}

.nav-link:hover::after {
    width: 100%;
}

.temp-switch .btn {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: 500;
}

.temp-switch .btn.active {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: white;
    color: #ffffff;
}

.hourly-forecast {
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.3) transparent;
}

.hour-card {
  flex: 0 0 auto;
  width: 100px;
  background: linear-gradient(145deg, #AD36CB 27%, #333333 63%);
  border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
